/* Fondo y estilo general de mensajes de usuario */
.user-message {
    -fx-background-color: transparent;
    -fx-padding: 2 5 2 5;
}

.username {
    -fx-fill: #000080; /* azul marino */
    -fx-font-weight: bold;
}

.message {
    -fx-fill: black;
}

/* Mensajes de sistema con fondo beige */
.system-message {
    -fx-background-color: #FFFACD; /* beige vainilla */
    -fx-padding: 2 5 2 5;
    -fx-background-radius: 5;
}

.system-message .join {
    -fx-fill: green;
    -fx-font-weight: bold;
}

.system-message .part {
    -fx-fill: orange;
    -fx-font-weight: bold;
}

.system-message .kick {
    -fx-fill: red;
    -fx-font-weight: bold;
}

.prefix, .suffix {
    -fx-fill: gray;
}

